
.headdiv {
    background-color: #e0dfdf;
    height: 50px;
    align-items: center;
    color: black;
    font-weight: 500;
    font-family: emoji;
    font-size: medium;
    margin: 20px 50px 0px 50px;
    border-radius: 20px;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
