



    <div class="modal-header">
        <h4 class="modal-title">Replies</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="replies.replyTweet==null||replies.replyTweet=={}">
          No Replies
        </div>
        <div class="row headdiv" *ngFor="let data of replies.replyTweet">
            <div class="col-sm-3 col-md-6 col-lg-4">
              <span style="
                  color: #1c3694;
                  font-size: large;
                  text-transform: capitalize">{{data.repliedBy}}</span>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
              Poseted  As <span style="
              color: #8a365d;
              font-size: large;
              text-transform: capitalize">{{data.replyMessage}}</span>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
                On {{data.replyDate}}
            </div>
        
        </div>
        <div *ngIf="isReply" style="margin-top: 30px;">
        <label for="username" style="padding: bottom 15px;">Post Hear...</label>
            <input type="text"  #retweet class="form-control"/>
            <button type="button" class="btn btn-success" style="
                align-items: center !important;
                width: 120px;
                margin: 20px 0px 0px 40%" (click)="addRetwwt(retweet.value,sourceTweet.id)">Retweet</button>
        </div>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
      </div>